#u1424-6
{
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1426_img
{
	vertical-align: bottom;
}

#u1428
{
	border-color: #000000;
	background-color: #000000;
}

#menuu1429
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3069,#u3129,#u1426,#u1451,#u1454
{
	background-color: transparent;
}

#u1457-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1454:hover #u1457-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1430,#u1433
{
	background-color: transparent;
}

#u1434-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1433:hover #u1434-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1465,#u1466
{
	background-color: transparent;
}

#u1469-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1466:hover #u1469-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1458,#u1461
{
	background-color: transparent;
}

#u1464-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1461:hover #u1464-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1437,#u1440
{
	background-color: transparent;
}

#u1441-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1440:hover #u1441-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1444,#u1445
{
	background-color: transparent;
}

#u1448-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u1445:hover #u1448-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2724,#u2725
{
	background-color: transparent;
}

#u2728-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}

#u2725:hover #u2728-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u1454.MuseMenuActive #u1457-4 p,#u1433.MuseMenuActive #u1434-4 p,#u1466.MuseMenuActive #u1469-4 p,#u1461.MuseMenuActive #u1464-4 p,#u1440.MuseMenuActive #u1441-4 p,#u1445.MuseMenuActive #u1448-4 p,#u2725.MuseMenuActive #u2728-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1472
{
	border-width: 0px;
	border-color: transparent;
	background: #67ABEA url("../images/twitter.png") no-repeat center center;
}

#u1474
{
	border-width: 0px;
	border-color: transparent;
	background: #5067C4 url("../images/facebook.png") no-repeat center center;
}

#u1472:hover,#u1474:hover
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1475
{
	border-width: 0px;
	border-color: transparent;
	background: #FF0000 url("../images/youtubeicon.png") no-repeat left top;
	background-size: cover;
}

#u1475:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

#u1476-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 42px;
	line-height: 50px;
	font-family: days-one, sans-serif;
	font-weight: 400;
}


