.version.news /* version checker */
{
	color: #0000EB;
	background-color: #77B213;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1783px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u3708
{
	z-index: 2;
	min-height: 87px;
	padding-bottom: 33px;
}

#u1476-4
{
	z-index: 16;
	width: 501px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 143px;
}

#u1472
{
	z-index: 13;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 902px;
}

#u1475
{
	z-index: 15;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 971px;
}

#u1474
{
	z-index: 14;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 1040px;
}

#u1472:hover,#u1475:hover,#u1474:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3708-bw
{
	z-index: 2;
	min-height: 87px;
}

#u3739
{
	z-index: 20;
	min-height: 42px;
	padding-bottom: 9px;
}

#menuu3742
{
	z-index: 21;
	width: 980px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 120px;
}

#u3778
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3781
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3781:hover
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u3782-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3781:hover #u3782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3771
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u3772
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3774-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3781.MuseMenuActive #u3782-4,#u3772:hover #u3774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3764
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u3767
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3770-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3772.MuseMenuActive #u3774-4,#u3767:hover #u3770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3750
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u3751
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3752-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3767.MuseMenuActive #u3770-4,#u3751:hover #u3752-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3743
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u3744
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3781.MuseMenuActive,#u3772.MuseMenuActive,#u3767.MuseMenuActive,#u3751.MuseMenuActive,#u3744.MuseMenuActive
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u3746-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3751.MuseMenuActive #u3752-4,#u3744:hover #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3744.MuseMenuActive #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u3788
{
	width: 139px;
	padding-bottom: 15px;
	position: relative;
}

#u3791-4
{
	width: 139px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3788:hover #u3791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3757
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 841px;
}

#u3758
{
	width: 139px;
	padding-bottom: 15px;
	position: relative;
}

#u3788.MuseMenuActive,#u3758.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3761-4
{
	width: 139px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3788.MuseMenuActive #u3791-4,#u3758:hover #u3761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3758.MuseMenuActive #u3761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3739-bw
{
	z-index: 20;
	min-height: 42px;
}

#pu3696
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3696
{
	z-index: 3;
	min-height: 1025px;
	padding-bottom: 11px;
}

#u3708_align_to_page,#u3739_align_to_page,#u3696_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
}

#u1424-6
{
	z-index: 4;
	width: 980px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 997px;
	left: 120px;
}

#u1426
{
	z-index: 10;
	width: 11px;
}

#u3696-bw
{
	z-index: 3;
	min-height: 1025px;
	margin-top: 2px;
}

#u4156
{
	z-index: 64;
	min-height: 3418.9px;
	padding-bottom: 0px;
	background: #FFFFFF url("../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u4156_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
	padding-top: 106px;
	padding-bottom: 2878px;
}

#paccordionu4049
{
	width: 0.01px;
	left: 163px;
	position: relative;
}

#accordionu4049
{
	z-index: 65;
	width: 224px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4058
{
	z-index: 66;
	width: 224px;
	background-color: transparent;
	position: relative;
}

#u4059-4
{
	z-index: 67;
	width: 224px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4060
{
	z-index: 71;
	width: 224px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u4061-47
{
	z-index: 72;
	width: 223px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4169
{
	z-index: 119;
	width: 224px;
	background-color: transparent;
	position: relative;
}

#u4170-4
{
	z-index: 120;
	width: 224px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4171
{
	z-index: 124;
	width: 224px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u4183-59
{
	z-index: 125;
	width: 223px;
	min-height: 248px;
	background-color: transparent;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4186
{
	z-index: 184;
	width: 224px;
	background-color: transparent;
	position: relative;
}

#u4187-4
{
	z-index: 185;
	width: 224px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4059-4.AccordionPanelTabOpen,#u4170-4.AccordionPanelTabOpen,#u4187-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 224px;
	margin: 0px;
}

#u4188
{
	z-index: 189;
	width: 224px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u4197-35
{
	z-index: 190;
	width: 223px;
	min-height: 270px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu4105
{
	z-index: 225;
	width: 223px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 223px;
}

#u4106
{
	z-index: 226;
	width: 223px;
	background-color: transparent;
	position: relative;
}

#u4109-4
{
	z-index: 227;
	width: 223px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4107
{
	z-index: 231;
	width: 223px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u4108-11
{
	z-index: 232;
	width: 223px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#accordionu4120
{
	z-index: 243;
	width: 223px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 446px;
}

#u4121
{
	z-index: 244;
	width: 223px;
	background-color: transparent;
	position: relative;
}

#u4124-4
{
	z-index: 245;
	width: 223px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4122
{
	z-index: 249;
	width: 223px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u4123-23
{
	z-index: 250;
	width: 223px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#accordionu4135
{
	z-index: 273;
	width: 223px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 669px;
}

#u4136
{
	z-index: 274;
	width: 223px;
	background-color: transparent;
	position: relative;
}

#u4139-4
{
	z-index: 275;
	width: 223px;
	min-height: 28px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4109-4.AccordionPanelTabOpen,#u4124-4.AccordionPanelTabOpen,#u4139-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 223px;
	margin: 0px;
}

#u4059-3,#u4170-3,#u4187-3,#u4109-3,#u4124-3,#u4139-3
{
	color: #FF0000;
	font-size: 20px;
	text-align: center;
	line-height: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 10px;
}

#u4137
{
	z-index: 279;
	width: 223px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
}

#u4138-19
{
	z-index: 280;
	width: 223px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4061,#u4061-3,#u4061-5,#u4061-7,#u4061-9,#u4061-11,#u4061-13,#u4061-15,#u4061-17,#u4061-19,#u4061-21,#u4061-23,#u4061-25,#u4061-27,#u4061-29,#u4061-31,#u4061-33,#u4061-35,#u4061-37,#u4061-39,#u4061-41,#u4061-43,#u4183,#u4183-3,#u4183-5,#u4183-7,#u4183-9,#u4183-11,#u4183-13,#u4183-15,#u4183-17,#u4183-19,#u4183-21,#u4183-23,#u4183-25,#u4183-27,#u4183-29,#u4183-31,#u4183-33,#u4183-35,#u4183-37,#u4183-39,#u4183-41,#u4183-43,#u4183-45,#u4183-47,#u4183-49,#u4183-51,#u4183-53,#u4183-55,#u4197,#u4197-3,#u4197-5,#u4197-7,#u4197-9,#u4197-11,#u4197-13,#u4197-15,#u4197-17,#u4197-19,#u4197-21,#u4197-23,#u4197-25,#u4197-27,#u4197-29,#u4197-31,#u4108,#u4108-3,#u4108-5,#u4108-7,#u4123,#u4123-3,#u4123-5,#u4123-7,#u4123-9,#u4123-11,#u4123-13,#u4123-15,#u4123-17,#u4123-19,#u4138,#u4138-3,#u4138-5,#u4138-7,#u4138-9,#u4138-11,#u4138-13,#u4138-15
{
	text-align: left;
	color: #FF0000;
}

#u4061-45,#u4108-9,#u4123-21,#u4138-17
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#accordionu4201
{
	z-index: 299;
	width: 895px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #000000;
	left: 168px;
	margin-top: 73px;
	position: relative;
}

#u4210
{
	z-index: 300;
	width: 895px;
	background-color: transparent;
	position: relative;
}

#u4211-4
{
	z-index: 301;
	width: 895px;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4212
{
	z-index: 305;
	width: 895px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 74px;
	position: relative;
}

#u4250
{
	z-index: 306;
	width: 560px;
	min-height: 259px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 160px;
}

#u4254
{
	z-index: 307;
	width: 895px;
	background-color: transparent;
	position: relative;
}

#u4257-4
{
	z-index: 308;
	width: 895px;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4255
{
	z-index: 312;
	width: 895px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 66px;
	position: relative;
}

#u4323
{
	z-index: 313;
	width: 560px;
	min-height: 259px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 160px;
}

#u4293
{
	z-index: 314;
	width: 895px;
	background-color: transparent;
	position: relative;
}

#u4294-4
{
	z-index: 315;
	width: 895px;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4295
{
	z-index: 319;
	width: 895px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 68px;
	position: relative;
}

#u4328
{
	z-index: 320;
	width: 560px;
	min-height: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 160px;
}

#u4302
{
	z-index: 321;
	width: 895px;
	background-color: transparent;
	position: relative;
}

#u4304-4
{
	z-index: 322;
	width: 895px;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4303
{
	z-index: 326;
	width: 895px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 74px;
	position: relative;
}

#u4349
{
	z-index: 327;
	width: 560px;
	min-height: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 160px;
}

#u4311
{
	z-index: 328;
	width: 895px;
	background-color: transparent;
	position: relative;
}

#u4312-4
{
	z-index: 329;
	width: 895px;
	min-height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u4211-4.AccordionPanelTabOpen,#u4257-4.AccordionPanelTabOpen,#u4294-4.AccordionPanelTabOpen,#u4304-4.AccordionPanelTabOpen,#u4312-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 895px;
	margin: 0px;
}

#u4211-3,#u4257-3,#u4294-3,#u4304-3,#u4312-3
{
	color: #FF0000;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 10px;
}

#u4313
{
	z-index: 333;
	width: 895px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 74px;
	position: relative;
}

#u4353
{
	z-index: 334;
	width: 560px;
	min-height: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 160px;
}

#u4156-bw
{
	z-index: 64;
	min-height: 3418.9px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1020px;
}

