.version.other_pservers /* version checker */
{
	color: #000008;
	background-color: #DC87E2;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1221px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 14px;
	width: 0.01px;/* should not cover content below */
}

#u3708
{
	z-index: 2;
	min-height: 87px;
	padding-bottom: 33px;
}

#u1476-4
{
	z-index: 16;
	width: 501px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 143px;
}

#u1472
{
	z-index: 13;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 902px;
}

#u1475
{
	z-index: 15;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 971px;
}

#u1474
{
	z-index: 14;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 1040px;
}

#u1472:hover,#u1475:hover,#u1474:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3708-bw
{
	z-index: 2;
	min-height: 87px;
}

#u3739
{
	z-index: 20;
	min-height: 42px;
	padding-bottom: 9px;
}

#u3708_align_to_page,#u3739_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
}

#menuu3742
{
	z-index: 21;
	width: 980px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 120px;
}

#u3778
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u3781
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3781:hover
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u3782-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3781:hover #u3782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3771
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u3772
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3774-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3781.MuseMenuActive #u3782-4,#u3772:hover #u3774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3764
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u3767
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3770-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3772.MuseMenuActive #u3774-4,#u3767:hover #u3770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3750
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u3751
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3752-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3767.MuseMenuActive #u3770-4,#u3751:hover #u3752-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3743
{
	width: 138px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u3744
{
	width: 138px;
	padding-bottom: 15px;
	position: relative;
}

#u3781.MuseMenuActive,#u3772.MuseMenuActive,#u3767.MuseMenuActive,#u3751.MuseMenuActive,#u3744.MuseMenuActive
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u3746-4
{
	width: 138px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3751.MuseMenuActive #u3752-4,#u3744:hover #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3744.MuseMenuActive #u3746-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u3785
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u3788
{
	width: 139px;
	padding-bottom: 15px;
	position: relative;
}

#u3791-4
{
	width: 139px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3788:hover #u3791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3757
{
	width: 139px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 841px;
}

#u3758
{
	width: 139px;
	padding-bottom: 15px;
	position: relative;
}

#u3788.MuseMenuActive,#u3758.MuseMenuActive
{
	width: 139px;
	min-height: 0px;
	margin: 0px;
}

#u3761-4
{
	width: 139px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u3788.MuseMenuActive #u3791-4,#u3758:hover #u3761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3758.MuseMenuActive #u3761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 139px;
	margin: 0px -10000px 0px 0px;
}

#u3739-bw
{
	z-index: 20;
	min-height: 42px;
}

#u3696_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1020px;
	left: -100px;
	padding-top: 48px;
	padding-bottom: 11px;
}

#u2865-4
{
	z-index: 64;
	width: 434px;
	min-height: 27px;
	background-color: #000000;
	color: #FF0000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	left: 393px;
	position: relative;
}

#u1424-6
{
	z-index: 4;
	width: 980px;
	min-height: 18px;
	left: 120px;
	margin-top: 922px;
	position: relative;
}

#u1426
{
	z-index: 10;
	width: 11px;
}

#u3696,#u3696-bw
{
	z-index: 3;
	min-height: 1036px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1020px;
}

